[Unit]
Description=Telegram Bot
After=network.target

[Service]
User=str
Group=str

WorkingDirectory=/home/str/7ama/
Environment="PYTHONPATH=/home/str/7ama/"
ExecStart=/home/str/7ama/.venv/bin/python /home/str/7ama/bot_main.py

[Install]
WantedBy=multi-user.target